<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:insert="~{layouts/head :: head}">
	</head>
	<body>
		<header th:insert="~{layouts/header :: header}">
		</header>
		<div class="container">
			<form th:action="@{/pelicula}" th:object="${pelicula}" method="post" class="col-md-8 offset-md-2">
				<h2 th:text="${titulo}" class="py-4"></h2>
			  <div class="mb-3">
			    <label for="nombre" class="form-label">Nombre</label>
			    <input type="text" class="form-control" id="nombre" th:field="*{nombre}">
			  </div>
			  <div class="mb-3">
			  	<label for="fecha_estreno" class="form-label">Fecha Estreno</label>
			  	<input type="date" class="form-control" id="fecha_estreno" th:field="*{fechaEstreno}">
			  </div>
			  <div class="mb-3">
			  	<label for="genero" class="form-label">Género</label>
			  	<select class="form-select" th:field="*{genero}">
					<option th:each="genero : ${generos}" th:text="${genero.nombre}" th:value="${genero.id}" ></option>
				</select>
			  </div>
			  <div class="mb-3">
			  	<label for="protagonistas" class="form-label">Actor</label>
			  	<select class="form-select" th:field="*{protagonistas}" onchange="actorSelected(this)">
					<option th:text="'Seleccionar actor'" th:value="0"></option>
			  		<option th:each="actor : ${actores}" th:text="${actor.nombre}" th:value="${actor.id}"  th:data-url="${actor.urlImagen}"></option>
			  	</select>
			  </div>
				<input id="ids" name="ids" type="hidden" value="">
				<div id="protagonistas-container" class="row">  
					
				</div>
			  <button type="submit" class="btn btn-primary float-end">Guardar</button>
			</form>
		</div>
	</body>
</html>